body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

:root {
  --brand-color: #4d5ae5;
  --brand-color-dark: #2e2f42;
  --brand-color-background: #2e2f42;
  --background-color: #ffffff;
  --backgroung-color-cards: #ffffff;
  --background-color-section: #f4f4fd;
  --text-color: #434455;
  --text-light-color: #ffffff;
  --text-color-footer: #f4f4fd;
  --active-color: #404bbf;
  --contacts-color: #434455;
  --filter-btn-color: #f4f4fd;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

/* COMPONENTS */

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color);
}

.logo-black {
  color: var(--brand-color-dark);
}

.logo-white {
  color: var(--text-color-footer);
}

.header-padding {
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}

.sections {
  padding-top: 96px;
  padding-bottom: 96px;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--brand-color-dark);
  margin-bottom: 72px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* MODAL */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
}

.modal {
  width: 320px;
  min-height: 576px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 3px rgba(0, 0, 0, 0.12),
    1px 0px 1px rgba(0, 0, 0, 0.14);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  padding: 24px;
  transition: transform 250ms var(--cubic);
}

.btn-modal {
  display: flex;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-bottom: 24px;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--cubic), border 250ms var(--cubic);
}

.btn-modal:focus,
.btn-modal:hover {
  background-color: var(--active-color);
  border: transparent;
}
.btn-modal:focus .modal-icon-close,
.btn-modal:hover .modal-icon-close {
  fill: #ffffff;
}

.modal-icon-close {
  fill: #2e2f42;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(180deg);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--brand-color-dark);
  margin-bottom: 16px;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: center;
  color: #8e8f99;
}

.modal-label-mobile {
  font-size: 9px;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: #fcfcfc;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 8px 16px 8px 38px;
  transition: border-color 250ms var(--cubic);
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms var(--cubic);
}

.modal-input:focus {
  border-color: var(--brand-color);
  outline: transparent;
}

.modal-input:focus + .input-icon {
  fill: var(--brand-color);
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: #fcfcfc;
  margin-top: 4px;
  margin-bottom: 16px;
  resize: none;
  padding: 8px 16px;
  transition: border-color 250ms var(--cubic);
}

.modal-textarea:focus {
  border-color: var(--brand-color);
  outline: transparent;
}

.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.policy-label {
  display: flex;
  align-items: center;
}

.policy-link {
  color: var(--brand-color);
  margin-left: 5px;
}

.check-box {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms var(--cubic), fill 250ms var(--cubic),
    border-color 250ms var(--cubic);
}

.policy-input:checked + .policy-label .check-box {
  background-color: var(--active-color);
  border-color: transparent;
  fill: #ffffff;
}

.btn-submit {
  width: 169px;
  height: 56px;
  background-color: var(--brand-color);
  border-color: transparent;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

/* HEADER */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation {
  display: flex;
}

.header-menu {
  display: none;
}

.contacts-list {
  display: none;
}

.menu-open-btn {
  width: 32px;
  height: 22px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.menu-open-icon {
  stroke: #2e2f42;
}

.mobile-menu {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  padding: 24px 24px 40px 40px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-nav-wrap {
  margin-bottom: 64px;
}

.menu-close-btn {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: rgba(231, 233, 252, 0.1);
  border-radius: 50%;
  border: 1px solid rgba(46, 47, 66, 0.1);
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-bottom: 32px;
  transition: background-color 250ms var(--cubic), border 250ms var(--cubic);
}

.menu-close-icon {
  fill: #2e2f42;
  transition: fill 250ms var(--cubic);
}

.menu-close-btn:focus,
.menu-close-btn:hover {
  background-color: var(--active-color);
  border: transparent;
}
.menu-close-btn:focus .menu-close-icon,
.menu-close-btn:hover .menu-close-icon {
  fill: #ffffff;
}

.mobile-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--brand-color-dark);
  transition: color 250ms var(--cubic);
}

.mobile-link:hover,
.mobile-link:focus {
  color: var(--active-color);
}

.mobile-item:not(:last-child) {
  margin-bottom: 40px;
}

.phone-contacts {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--contacts-color);
  transition: color 250ms var(--cubic);
}

.phone-contacts:hover,
.phone-contacts:focus {
  color: var(--brand-color);
}

.mobile-contacts {
  font-style: normal;
}

.mailto-contacts {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--contacts-color);
  transition: color 250ms var(--cubic);
}

.mailto-contacts:hover,
.mailto-contacts:focus {
  color: var(--brand-color);
}

.mobile-contacts-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-contacts {
  margin-bottom: 48px;
}

.mobile-media-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

/* HERO */

.hero {
  background-color: var(--brand-color-background);
  padding-top: 112px;
  padding-bottom: 112px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background/people_office_mob_1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background/people_office_mob_2x.jpg);
  }
}

.hero-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-light-color);
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
}

.hero-btn {
  min-width: 169px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--text-light-color);
  background-color: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: background-color 250ms var(--cubic);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--active-color);
}

/* BENEFITS */

.benefits {
  padding-top: 96px;
  padding-bottom: 96px;
}

.benefits-image {
  display: none;
}

.benefits-item {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--brand-color-dark);
  margin-bottom: 8px;
}

.benefits-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.benefits-card:not(:last-child) {
  margin-bottom: 72px;
}

/* ABOUT */

.about {
  display: none;
}

/* TEAM */

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.team-content {
  padding-top: 32px;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--brand-color-dark);
  margin-bottom: 8px;
}

.team-position {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-bottom: 8px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--cubic);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: #404bbf;
}

.team-soc-icon {
  fill: #f4f4fd;
}

.team-item {
  flex-basis: 264px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--backgroung-color-cards);
  padding-bottom: 32px;
}

.team {
  background-color: var(--background-color-section);
}

/* CUSTOMERS */

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  column-gap: 16px;
  row-gap: 72px;
}

.customers-item {
  flex-basis: calc((100% - 16px) / 2);
  height: 88px;
}

.customers-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;
  transition: color 250ms var(--cubic), border-color 250ms var(--cubic);
}

.customers-icon {
  fill: currentColor;
}

.customers-link:hover,
.customers-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

/* FOOTER */

.footer {
  background-color: var(--brand-color-background);
  padding-top: 96px;
  padding-bottom: 96px;
}

.logo-mob {
  display: flex;
  justify-content: center;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color-footer);
  margin: 16px auto 0 auto;
  max-width: 264px;
}

.footer-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  margin-top: 72px;
  text-align: center;
}

.media-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.media-item {
  width: 40px;
  height: 40px;
}

.media-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--cubic);
}

.media-icon {
  fill: #f4f4fd;
}

.media-link:hover,
.media-link:focus {
  background-color: #31d0aa;
}

.subscribe-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  margin: 0 0 16px 0;
  padding: 8px 16px;
  color: #ffffff;
}

.subscribe-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.btn-subscribe {
  display: flex;
  width: 100%;
  height: 40px;
  background-color: var(--brand-color);
  border: transparent;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  align-items: left;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  padding: 8px 24px;
}

.btn-subscribe-wrap {
  position: relative;
  width: 165px;
  margin: 0 auto;
}

.subscribe-icon {
  fill: #ffffff;
  position: absolute;
  top: 8px;
  right: 24px;
}

/* ===========PORTFOLIO========== */

/* FILTER */

.portfolio {
  padding-top: 48px;
  padding-bottom: 48px;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  margin-bottom: 48px;
  row-gap: 16px;
  column-gap: 24px;
  width: 320px;
}

.filter-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--brand-color);
  background-color: var(--filter-btn-color);
  cursor: pointer;
  padding: 8px 16px;
  min-width: 53px;
  min-height: 40px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: background-color 250ms var(--cubic), color 250ms var(--cubic),
    box-shadow 250ms var(--cubic), border 250ms var(--cubic);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--active-color);
  color: var(--text-light-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: transparent;
}

.portfolio-item:not(:last-child) {
  margin-bottom: 48px;
}

.portfolio-cover-text {
  display: none;
}

.portfolio-item-footer {
  padding: 32px 16px;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: border-left 250ms var(--cubic), border-right 250ms var(--cubic),
    border-bottom 250ms var(--cubic), box-shadow 250ms var(--cubic);
}

.portfolio-link:hover > .portfolio-item-footer {
  border-left: 1px solid #f4f4fd;
  border-right: 1px solid #f4f4fd;
  border-bottom: 1px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-description {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brand-color-dark);
  margin-bottom: 8px;
}

.portfolio-class {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
